<ul>
  @if (auth.isLoggedIn) {
  <li>
    <button routerLink="/auth/login" (click)="logout()">Logout</button>
  </li>

  } @else {
  <li>
    <button routerLink="/auth/login" routerLinkActive="active">Login</button>
  </li>

  <li>
    <button routerLink="/auth/register" routerLinkActive="active">
      Register
    </button>
  </li>
  }
  <li>
    <button routerLink="/" routerLinkActive="active">Home</button>
  </li>
</ul>

@if (auth.user) {
<h3>User info: {{ auth.user | json }}</h3>
}
