<app-language-switcher />
<p>{{ form.value | json }}</p>

<br />
<!-- it is recommended to use [formGroup] only for the root form -->
<form #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()">
  Email:
  <input [formControl]="form.controls.email" />
  <small>Try to type test to see form errors at the bottom</small>
  <br />

  <!-- it is recommended to use formGroupName instead of [formGroup] -->
  <fieldset [container]="containerDir.container" formGroupName="address">
    <legend>Address</legend>

    <ng-container
      validatorMessageContainer
      #containerDir="validatorMessageContainer"
    />
    Street:
    <input [formControl]="form.controls.address.controls.street" />
    City:
    <input [formControl]="form.controls.address.controls.city" />
  </fieldset>

  <!-- formArrayName="skills" if you add it dynamic validation will work on the fieldset -->
  <fieldset>
    <legend>Skills</legend>
    <button type="button" (click)="addSkill()">Add</button>
    @for ( skill of form.controls.skills.controls; let i = $index; track $index)
    {
    <br />
    Name:
    <input [formControl]="skill.controls.name" />
    Level:
    <input [formControl]="skill.controls.level" />
    <button type="button" (click)="removeSkill(i)">Remove</button>
    }
    <br />
  </fieldset>
  <button type="submit">Submit</button>
  <button type="button" (click)="resetForm()">Reset</button>
</form>

<app-input-error [errors]="form.errors" />
